{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h2>Usuarios Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Grupos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.groups.all|join:", " }}</td>
                    <td>
                        <a href="{% url 'asignar_grupo' usuario.id %}">Asignar Grupo</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
